*{
    margin:0;
    padding:0;
}
.header
{
    width: 100vw  !important;
    height:100vh;
 
    z-index: 100;
  
}
/* .container{
    width: 100%;
    position: fixed;
    background-color: black;
    z-index:80;
} */
.navbar-style
{
    box-shadow:0 5px 10px #efefef;
    text-transform: uppercase;
}
.logo
{

    height: 48px;
    padding:2px 10px;
    
}
.icon-bar
{
background:darkorange;
}
li a{
    color: #eee;
}

.nav-video{
  
   
    background:  url('nav.mp4');
    /* background-blend-mode: darken; */
}
.navbar-dark{
 
 position:absolute;
 
} 
.img-fluid
{ position: cover;
    width:100vw; 
     height:100vh;
     opacity: .8;
     /* background-blend-mode: darken; */
     justify-content: center;
     align-items: center;
}
.Head-font{
    font-family: Brush script MT;
 
    text-decoration: none;
    color:goldenrod;
    font-weight: 70px;
    font-size: 50px;
}


 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 70px;
    font-size: 50px;
    color: white;
} 
/* .centered, .banner-text{
    margin-top: 200px;


} */

.banner-text{
    /* position:absolute; */
    text-align: center;
    color: #ffffff;
    padding:10px ;
    margin-top: 250px;
    /* font-family:Impact, fantasy; */
    /* z-index: 30; */
}
.banner-text h1{
    font-size: 51px;
    margin-top: -464px;
    color:white;
    font-family:"Times New Roman", Times, serif;
    font-variant: small-caps;
}
.Head-Add{
    font-size: 31px;
    margin-top: 22px;
    color:rgb(182, 169, 169);
    font-family:New Century Schoolbook, TeX Gyre Schola, serif ;
    /* font-family:  cursive; */
    /* font-family: Brush script MT; */
    /* font-family:Palatino, URW Palladio L, serif; */
    
}

@media screen  and (max-width:700px){
    .banner-text{
        text-align: center;
        color: #fff;
        padding: -400px ;
        font-family: 'Cinzel Decorative', cursive;
    }
    .banner-text h1{
        font-size:25px;
    margin-top: -3px;
    font-family:Jazz LET, fantasy;
    font-variant: small-caps;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 50px;
        font-size: 30px;
        color: white;
    }
    .Head-Add{
        font-size: 5px;
        margin-top: 22px;
        
    }
    
}


@media screen and (max-width: 800px){
    .banner-text{
        text-align: center;
        color: rgb(185, 183, 183);
        padding: -300px ;
        font-family:Impact, fantasy;
    }
    .banner-text h1{
        font-size: 1px;
        margin: -3px;
        font-family:Jazz LET, fantasy;
        font-variant: small-caps;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 50px;
        font-size: 30px;
        color: white;
    }
    .Head-Add{
        font-size: 4px;
        margin-top: 2px;
        
    }
    
}



@media screen and (max-width: 900px){
    .banner-text{
        text-align: center;
        color: #fff;
        padding: 180px ;
        font-family:Impact, fantasy;
    }
    .banner-text h1{
        font-size: 41px;
    margin-top: -3px;
    font-family:Jazz LET, fantasy;
    font-variant: small-caps;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 50px;
        font-size: 30px;
        color: white;
    }
    .Head-Add{
        font-size: 31px;
        margin-top: 22px;
        
    }
}

@media screen and  (max-width: 560px){
    .banner-text{
        text-align: center;
        color: #fff;
        padding: 2px ;
        margin-top: 50px;
        font-family: 'Cinzel Decorative', cursive;
    }
    .banner-text h1{
        font-size: 14px;
    margin-top: -92px;
    font-family: 'Cinzel Decorative', cursive;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 10px;
        font-size: 5px;
        color: white;
    }
    .Head-Add{
        font-size: 10px;
        margin-top: 22px;
        
    }
    .img-fluid
{ position: cover;
    width:100vw; 
     height:auto;
     opacity: .8;
     background-blend-mode: darken;
     justify-content: center;
     align-items: center;
}
}
.container1{
  
    position: relative;
    z-index: 6;

}
h1{
    padding:10px 4px;
    font-size:4rem;
   
}
.section-2{
    width:100vw;
   height:auto;
 padding:46px 19px 22px 55px;
   background-repeat: no-repeat;
   background-size: cover;
   background-color:white;
   margin-top:100px;
   
   /* opacity: 0.8; */
}
.heading-2{
    
    font-size: 56px;
    margin-top:0;
    margin-bottom: 0;
    font-weight: 400;
    font-family:Impact, fantasy;
  
    color: rgb(27, 23, 23);
    margin-left: 10px;
}
.subheading-2{
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-style: italic;
    font-size: 30px;
    color: rgb(51, 46, 46);
    margin-left: 15px;
}
hr{
    margin-top: 100px;
    box-sizing: content-box;
    height: 2px;

    overflow: visible;
    display: block;
   
}
.hr-line{
    width: 148px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
    border-top: 3px solid;
    border-bottom: 1px solid;
    color: #000;
}
.para-1{
    font-size: 30px;
    padding:40px;
    line-height: 5.8rem;
    font-family: "Garamond", serif;
}


.img-1{
    width:350px;
    height:350px;
    border-radius: 10%;
    margin-top:50px;
    margin-left: 100px;
}
.img-2{
    width:350px;
    height:350px;
    border-radius: 10%;
    margin-top:50px;
    margin-left: 100px;
}
.img-3{
    width:400px;
    height:400px;
    border-radius: 10%;
    margin-top:190px;
    margin-right: 200px;
}

@media screen and (max-width: 560px){
    .section-2{
    z-index:10;
   position: absolute;
   width: 100vw;
   height: auto;
   background-color: #ffffff;
   margin-top: -1950px;
    }
    h1{
        padding:10px 4px;
        font-size:1.5rem;
    }
    .heading-2{
        font-size: 27px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
    font-family:Impact, fantasy;
    font-style: italic;
    color: rgb(27, 23, 23);
    margin-left: 3px;
    }
    .subheading-2{
        font-family:Brush Script MT, Brush Script Std, cursive;
        font-style: italic;
        font-size: 20px;
        color: rgb(51, 46, 46);
        margin-left: 43px;
    }
    .hr-line {
        width: 148px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2px;
        border-top: 3px solid;
        border-bottom: 1px solid;
        color: #000;
    }
    .para-1 {
        font-size: 18px;
        padding: 1px;
        line-height: 3.8rem;
        font-family: "Garamond", serif;
    }
    .img-1{
      
        width: 233px;
        height: 215px;
        margin-left: 3px;
       
        margin-top: 20px;
    }
    .img-2{
      visibility: hidden;
      display: none;
        width:233px;
        height:215px;

        margin-top:20px;
        margin-left: -10px;
    }
    .img-3{
        width:233px;
        height:215px;
      
        margin-top:20px;
        margin-left: 3px;
    }
}

.sub-section1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.sub-section-h4{
    margin-left: 15rem;
    font-size: 3.0rem;
    
    font-family:New Century Schoolbook, TeX Gyre Schola, serif ;
}
.sub-section-h1{
    font-family:Impact, fantasy ;
}
.para-2{
    font-size: 30px;
    padding:40px;
    color: gray;
    line-height: 5.8rem;
    font-family: "Garamond", serif;
}
@media screen and (max-width: 560px){
    .sub-section1{
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-right: auto;
        margin-left: auto;
    }
    .sub-section-h1{
        margin-left:35px;
        font-family:Impact, fantasy ;
        font-size:35px ;
    }
    .sub-section-h4{
        margin-left: 5rem;
        font-size: 2.5rem;
        
        font-family:New Century Schoolbook, TeX Gyre Schola, serif ;
    }
    .para-2{
        font-size: 20px;
        padding: 10px;
        color: gray;
        line-height: 3.8rem;
        font-family: "Garamond", serif;
    }
}

/* -------------------------------------------------------ABOUT---------------------------------------------------- */
.section-3{
    /* display: block; */
    position: relative;
    z-index: 10;
    margin-top:10px;
}
.container2{
  
    /* position: relative; */
    /* z-index: 6; */

}
.img-fluid-2
{ position: cover;
    width:100vw; 
     height:auto;
     /* opacity: .8; */
     /* background-blend-mode: darken; */
     /* justify-content: center;
     align-items: center; */
}
.navbar-dark-3{
    z-index: 10;
    content: '';
    position: relative;
    background: rgba(151, 79, 6, 0.561);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 70px;
    font-size: 50px;
    color: white;
} 

.banner-text-2{
   
    text-align: center;
    color: #ffffff;
    padding: 120px ;
    margin-top:-921px;

    z-index: 30;
}
.banner-text-2 h1{
 
    font-size: 8rem;
    margin:  104px 24px 17px 7px;;
    color:white;
    font-family:"Times New Roman", Times, serif;
    font-variant: small-caps;
}

.banner-text-2 h5{
    font-size:5rem;
    font-family: "Brush Script MT", cursive; 
    background-color: black transparent;
    z-index:55;
}
hr{
    margin-top: 100px;
    box-sizing: content-box;
    height: 2px;

    overflow: visible;
    display: block;
   
}
.hr-line-2 {
    z-index: 30;
    width: 148px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
    border-top: 3px solid;
    border-bottom: 1px solid;
    margin-top: -226px;
    color: rgb(232, 235, 225);
}

/* -------------------------------------------------------ABOUT(mob)--------------------------------------------------- */
@media screen and (max-width: 560px){
    .container2{
  
        position: relative;
        z-index: 10;
        margin-top: 1581px;
    
    }
    .navbar-dark-3{
        z-index: 2;
        content: '';
        position: relative;
        background: rgba(151, 79, 6, 0.561);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .centered { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 70px;
        font-size: 50px;
        color: white;
    } 
    
    .banner-text-2{
     
        text-align: center;
        color: #ffffff;
        padding: 120px ;
        margin-top:-472px;
   
        z-index: 28;
    }
    .banner-text-2 h1{
        z-index: 28;
    font-size: 4rem;
    margin: 114px 24px 7px 7px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    }
    
    .banner-text-2 h5{
        font-size:2rem;
        font-family: "Brush Script MT", cursive; 
        background-color: black transparent;
        z-index:5;
    }

    .hr-line-2 {
        z-index: 3;
        visibility: hidden;
        width: 58px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2px;
        border-top: 3px solid;
        border-bottom: 1px solid;
        margin-top: -467px;
        color: rgb(241, 218, 218); 
    }
}
/* --------------------------------------------------------MENU------------------------------------------------------ */
.container3{
    margin-top:-20px;
}
.Img-size:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgba(116, 116, 160, 0.7);
  
}
.menu{
    color: black;
    margin: 100px;
    background-color: white;
    font-size: 6rem;
    font-family:"Times New Roman", Times, serif;
    font-variant: small-caps;
}

.menu-inner-price {
    font-style: italic;
    white-space: nowrap;
}
.panel-primary>.panel-heading {
    color: rgb(20, 16, 16);
    padding: 5px;
    background-color: white !important;
 
}
  .menu-item{
      font-size: 2.5rem;
    font-family:Verdana, sans-serif;
    /* display: inline-block; */
    text-decoration: none;
    transition: .3s all ease;
}
/* .thumbnail-classic {
    position: relative;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    perspective: 1000px;
} */
.menu-inner{
    font-size:  3rem;
    font-family:"Brush Script MT", cursive; ;
}
.Img-size{
    width:418;
 height:315;
}
/* --------------------------------------------------------MENU(mob)------------------------------------------------------ */
@media screen and (max-width: 560px){
    .Img-size{
        width: 293px;
        height: 243px;
    
    }
    .Img-size:hover{
        transform: scale(1.1);
    }
    .menu{
        color: black;
        margin: 50px;
        background-color: white;
        font-size: 4rem;
        font-family:"Times New Roman", Times, serif;
        font-variant: small-caps;
    }
    .menu-item{
        font-size: 2rem;
      font-family:Verdana, sans-serif;
      /* display: inline-block; */
      text-decoration: none;
      transition: .3s all ease;
  }
  .menu-inner{
    font-size: 2rem;
    font-family:"Brush Script MT", cursive; ;
}   
}
/* -------------------------------------------------------Review----------------------------------------- */
.img-fluid-3
{ position: cover;
    width:100vw; 
     height:90vh;
   
}
.container4{
    width: 100%;
    height: 100%;
    background: rgba(197, 98, 6, 0.561);
}
.banner-text-3{
   
    text-align: center;
    color: #ffffff;
    padding: 20px ;
    margin-top:-521px;
font-size: 4rem;
background: rgba(19, 18, 18, 0.561);
font-family: "Times New Roman", Times, serif;
font-variant: small-caps;

    z-index: 30;
}
.comment{
    text-align: center;
    color: #1d1111;
    padding: 40px ;
    margin-top:-300px;
font-size: 5rem;
background-color: whitesmoke;
font-family: "Times New Roman", Times, serif;
font-variant: small-caps;

    z-index: 30;
}
.comment-inner{
    font-size:2rem;
    font-family: "Garamond", serif;
   
}
.girlicon{
    margin-top:20px;
    width:100px;
    border-radius: 100%;
   
    color: #ffffff;
}
.comment-back{
    background-color: whitesmoke;
}
@media screen and (max-width: 560px){
    .img-fluid-3
{ position: cover;
    width:100vw; 
     height:auto;
     z-index: 60;
   
}
.banner-text-3{
   /* visibility: hidden; */
    text-align: center;
    color: #ffffff;
    padding: 0px ;
    margin-top:-221px;
font-size: 3rem;
background: rgba(19, 18, 18, 0.561) transparent;
font-family: "Times New Roman", Times, serif;
font-variant: small-caps;


}
.comment{
    /* visibility: hidden; */
    text-align: center;
    color: #1d1111;
    padding: 82px ;
    margin-top:-100px;
font-size: 1rem;
background-color: rgb(46, 44, 44) transparent;
opacity: 0.5 rem;
font-family: "Times New Roman", Times, serif;
font-variant: small-caps;

   
}

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position:relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #a36e63;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #b8b7b7;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
